.friendList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    width: 350px;
    margin: 0 auto;
    list-style: none;
  }
.friendListItem {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(254, 251, 251);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
  margin: 0 auto;
   border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* .isOnline{
    width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
  

} */
.status {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* background-color: gray; */
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}